@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf);
}


body {
    margin: 0px 20px 0px 20px;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
    font-family: arial;
}

.rangeInput {
    width: 70%;


}

p.sampleText {
    margin-top: 50px;
    font-size: 16px;


}